#navigationbar{
    overflow: hidden;
    background-color: #dee0c9;
    width: 80%;
}
#navigationbar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;    
}
#navigationbar li{
    float:left;
    padding: 15px 35px;
    border-radius: 50% 50%;
}
#navigationbar a{
    color:black;
    text-align: center;
    text-decoration:none;
    font-size:20px;
}
#navigationbar > ul > li:hover{
    background-color:lightgreen;
}
#navigationbar a .active{
    background-color:green;
}
#firstsidebar{
    position:absolute;
    right: 20px;
    padding: 0;
    margin: 0;
    top: 160px;
    width: 18%;
    background-color: #dee0c9;
    border:2px transparent lightgray;
}
#firstsidebar > li{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 15px 25px;
    list-style-type: none;
}
#secondsidebar{
    position:absolute;
    right: 20px;
    padding: 0;
    margin: 0;
    top: 400px;
    width: 18%;
    background-color: #dee0c9;
    border:2px transparent lightgray;
}
#secondsidebar > li{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 15px 25px;
    list-style-type: none;
}
.scrtext #firstscrul{
    color:blue; 
    list-style-type: none;
    position:absolute;
    right: 20px;
    padding: 0;
    margin: 0;
    top: 250px;
    width: 18%;
    border:2px transparent lightgray;
    box-shadow: 8px 15px ghostwhite;
}
.scrtext #secondscrul{
    color:blue; 
    list-style-type: none;
    position:absolute;
    right: 20px;
    padding: 0;
    margin: 0;
    top: 500px;
    width: 18%;
    border:2px transparent lightgray;
    box-shadow: 8px 15px ghostwhite;
}